@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: "Raleway";
}
.container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 99vw;
    height: 92vh;
}

.btn{
    width: 100%;
}

.card-body{
    background-color: #ffd968;
}

.card-header{
    background-color: #ffd968;

}

.card-header h3{
    margin-top: 10px;
}

.card-footer{
    background-color: #ffd968;

}


.btn-primary {
    color: #020202;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    color: #f8f9fa;
    background-color: #090909;
    border-color: #000000;
}

a {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.scene{
    background-color: #ffc107bb;
    position: relative; overflow: hidden;
    

}

.icono{
    background-image: url(../../../assets/chat.png);
    background-size: cover;
    position: absolute;   
    bottom: -100;
    animation: iconoflotante 3s linear infinite;
}

.icono:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.icono:nth-child(2){
    width: 70px;
    height: 70px;
    left: 25%;
    animation-duration: 4s;
    animation-delay: 5s;
}



.icono:nth-child(4){
    width: 80px;
    height: 80px;
    left: 65%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.icono:nth-child(5){
    width: 70px;
    height: 70px;
    left: 85%;
    animation-duration: 4s;
    animation-delay: 5s;
}

@keyframes iconoflotante {
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .8;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}